---
layout: price
title: Produk | Jual Batu Traso, Teraso, Terrazzo, Marmo, Palimanan | Pabrik Batu Alam
photos: 
---
    <section id="pricing" class="section-bg">
        <div class="container">
            <div class="section-header">
                <h3 class="section-title">{{ site.section-5 }}</h3>
                <span class="section-divider"></span>
                <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
            </div>
            <div class="row">
                {% for item in site.data-products %}
                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item wow fadeInUp">
                        <a href="#" class="gallery-popup">
                            <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                                <amp-img on="tap:lightbox1" role="button" tabindex="0" class="gallery-popup" alt="{{ item.amp-img-alt }}" src="{{ item.amp-img-scr }}" width="{{ item.amp-img-width }}" height="{{ item.amp-img-height }}" layout="{{ item.amp-img-layout }}"></amp-img>
                            </a>
                    </div>
                    <div class="box wow fadeInLeft">
                        <h3>{{ item.text-title }}</h3>
                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i>{{ item.list-1 }}</li>
                            <li><i class="ion-android-checkmark-circle"></i>{{ item.list-2 }}</li>
                            <li>{{ item.text-title }} {{ item.list-3 }}</li>
                        </ul>
                        <a href="https://api.whatsapp.com/send?text=Mau%20Pesan%20{{ item.text-title }}%20(Nama)%20(Alamat%20Lengkap)%20&phone={{ site.telephone }}" class="dengan-whatsapp">Pesan dengan WA&nbsp;&nbsp;<i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </section>
{% include contact.html %}
</main>